/* CSS BY Erwin Reyes*/

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
    
    --main-font: "Playfair Display", serif;
}

body {
    background:var(--linen);
    color:var(--dark-charcoal);
    font-family:var(--main-font);
    line-height: 1.5;
}



/* Global Styles (MOBILE FIRST/SMALL) */

    /* Header styles*/
    header {
        background:var(--midnight-blue);
        text-align: center;
        padding: 1.5rem 1rem;
    }

    header img {
        width: 150px;
        display: block;
        margin: 0 auto 1rem;
    }

    header h1 {
        color:var(--soft-white);
        font-size: 3rem;
        margin-bottom: .5rem;
    }
    
    header p {
        color:var(--soft-white);
        font-style: italic;
        font-size: .9rem;
    }

    /* NAV */
    nav {
        background: var(--champagne-gold);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: .75rem;
    }
    
    nav a {
        text-decoration: none;
        color: var(--midnight-blue);
        font-weight: bold;
        font-size: 1.25rem;
    }

    /* MAIN */

    /* DIVIDER STYLE */

    /* OFFERINGS SECTION */

    /* GALLERY SECTION */

    /* GALLERY BUTTON */

    /* FOOTER */



/* MEDIA QUERY (MEDIUM) */

    /* Header styles*/

    /* NAV */

    /* MAIN */

    /* DIVIDER STYLE */

    /* OFFERINGS SECTION */

    /* GALLERY SECTION */

    /* GALLERY BUTTON */

    /* FOOTER */




/* MEDIA QUERY (LARGE) */

    /* Header styles*/

    /* NAV */

    /* MAIN */

    /* DIVIDER STYLE */

    /* OFFERINGS SECTION */

    /* GALLERY SECTION */

    /* GALLERY BUTTON */

    /* FOOTER */




/* MEDIA QUERY (XL) */

    /* Header styles*/

    /* NAV */

    /* MAIN */

    /* DIVIDER STYLE */

    /* OFFERINGS SECTION */

    /* GALLERY SECTION */

    /* GALLERY BUTTON */

    /* FOOTER */