/* CSS BY Erwin Reyes*/

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, picture {
    max-width: 100%;
    height: auto;
}

/* Root Variables */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
    
    --main-font: "Playfair Display", serif;
}

body {
    background:var(--linen);
    color:var(--dark-charcoal);
    font-family:var(--main-font);
    line-height: 1.5;
}



/* Global Styles (MOBILE FIRST/SMALL) */

    /* Header styles*/
    header {
        background:var(--midnight-blue);
        text-align: center;
        padding: 1.5rem 1rem;
    }

    header img {
        width: 150px;
        max-width: 100%;
        height: auto;
    }

    header h1 {
        color:var(--soft-white);
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    
    header p {
        color:var(--soft-white);
        font-style: italic;
        font-size: .9rem;
    }

    /* NAV */
    nav {
        background: var(--champagne-gold);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: .75rem;
    }
    
    nav a {
        text-decoration: none;
        color: var(--midnight-blue);
        font-weight: bold;
        font-size: 1.25rem;
    }

    /* MAIN */

    main {
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
    }

    h2 {
        color: var(--midnight-blue);
        font-size: 2rem;
        margin-bottom:.75rem;
    }
    
    section p {
        font-size: .95rem;
    }

    /* DIVIDER STYLE */
    section {
        border-bottom: 2px solid var(--champagne-gold);
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
        max-width: 100%;
    }

    section:last-of-type {
        border: none;
    }

    section.gallery {
        border-top: 2px solid var(--champagne-gold);
        padding-top: 1.5rem;
    }

    /* OFFERINGS SECTION */
    section.artisan, section.experiences, section.basket {
        background: var(--olive-green);
        color: white;
        padding:1rem;
        border-radius: 6px;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        border:none;
        margin-bottom: 1rem;
    }

    section.artisan h3, section.experiences h3, section.basket h3 {
        color: white;
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    main ul {
        margin-left: 1.25rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    /* GALLERY SECTION */
    figure {
        max-width: 100%;
        background: white;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 2px 6px rgba(0,0,0,.25);
        margin-bottom: 1rem;
    }

    figure img {
        display: block;
        width: 100%;
    }

    figcaption {
        padding: .5rem;
        text-align: center;
        font-style: italic;
        font-size: .75rem;
    }

    /* GALLERY BUTTON */
    .gallery-button {
        display: block;
        background:var(--olive-green);
        color:white;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        border-radius: 4px;
        font-weight: bold;
        margin: 1.5rem 0;
    }

    .gallery-button:hover {
        background: var(--champagne-gold);
    }

    section.last-divider {
        border-bottom: 2px solid var(--champagne-gold);
        padding-bottom: 1rem;
        margin: 2rem auto;
    }

    /* FOOTER */
    footer {
        background: var(--midnight-blue);
        color: white;
        text-align: center;
        padding: 2rem 1rem;
        font-size: 1rem;
    }

    footer p:first-of-type{
        margin-top: 4rem;
    }

    footer p:last-of-type {
        margin-bottom: 4rem;
    }

    footer a {
        color: var(--champagne-gold);
        text-decoration: none;
        font-weight: bold;
    }



/* MEDIA QUERY (MEDIUM) */

    /* Header styles*/

    /* NAV */

    /* MAIN */

    /* DIVIDER STYLE */

    /* OFFERINGS SECTION */

    /* GALLERY SECTION */

    /* GALLERY BUTTON */

    /* FOOTER */




/* MEDIA QUERY (LARGE) */

    /* Header styles*/

    /* NAV */

    /* MAIN */

    /* DIVIDER STYLE */

    /* OFFERINGS SECTION */

    /* GALLERY SECTION */

    /* GALLERY BUTTON */

    /* FOOTER */




/* MEDIA QUERY (XL) */

    /* Header styles*/

    /* NAV */

    /* MAIN */

    /* DIVIDER STYLE */

    /* OFFERINGS SECTION */

    /* GALLERY SECTION */

    /* GALLERY BUTTON */

    /* FOOTER */